{% extends 'include/base.html' %} 

{% block contents %}



      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">News table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">News Title</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Media</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">작성날짜</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Link</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in news_list %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          {% comment %} <div>
                            <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div> {% endcomment %}
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{x.title}}</h6>
                            <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{x.media}}</p>
                        {% comment %} <p class="text-xs text-secondary mb-0">Organization</p> {% endcomment %}
                      </td>
                        <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{x.created|date:'Y-m-d H:i:s'}}</span>
                      </td>
                      <td class="align-middle text-center">
                        {% comment %} <span class="text-secondary text-xs font-weight-bold"></span> {% endcomment %}
                        <span class="badge badge-sm bg-gradient-secondary"><button onclick="location.href= '{{x.url}}';">link</button></span>
                      </td>
                      {% comment %} <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td> {% endcomment %}
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>      
      {% endblock %}